// $primary: pour manipuler des variables 
$bg-warning: #FD7F20; 
$bg-danger: #FC2E20;
$bg-warning: #FDB750;
$bg-black:#5c5c1b;
$breadcrumb-divider: quote(">");

@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
//custom code here