.img-container {
    height: 400px;
    overflow: hidden;
  }
  
  .img-container img {
    width: 100%;
    height: auto;
  }

  
  header {
    /* background: linear-gradient(to top, rgba(234, 205, 205, 0.591), rgba(230, 37, 37, 0.182)); */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.592), rgb(191, 34, 34)%, 44%));
}

.listing-card__image {

    max-height: 200px;
}

section {
    margin-top: 30px;
}

.carousel-item {
    /* height: 810px;  */
  }

  .carousel-item img {
    /* aspect-ratio: 1/1; */
    max-width: 100%;
    object-fit: cover;
  }

  .findUsIndex {
    text-align: center;
  }

  .line {
    margin-left: 20px;
  border: 1px solid black;
  height: 1px;
  width: 250px;
  }

  .accueil {
    transition: all 0.5s ease; 
  }

  .accueil:hover {
  opacity: 0.8; /* Opacidad al pasar el cursor */
  transform: scale(1.1); /* Escala al pasar el cursor */
  }